<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <!--* Styles *-->
    <!-- Icons -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- Login -->
    <link rel="stylesheet" href="../styles/login.css" />
    <!-- Nav -->
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- Toaster -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <section class="wrapper forgot-password-wrapper">
      <div class="form">
        <form>
          <input type="text" placeholder="Username" required />
          <input type="password" placeholder="New Password" required />
          <input type="password" placeholder="Confirm New Password" required />
          <button type="submit" class="login-btn">Change Password</button>
          <a href="/views/login.html" class="back-login">Back To Login</a>
        </form>
      </div>

      <!--* Scripts *-->
      <!-- Jquery -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js
      "></script>
      <!-- Toaster -->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>
      <!-- Forgot Password -->
      <script src="../scripts/forgotPassword.js"></script>
    </section>
  </body>
</html>
